* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*html{
    
   scroll-behavior: smooth; 
    
}*/

/*#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.body-particles{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}*/

body {
    font-family: 'Poppins', sans-serif;
    background-color: #293241;
    overflow-x: hidden;
    margin-top: 1rem;
}

.navbar {
    margin-bottom: 2rem;
}

#menu li a {
    color: #e0fbfc;
    font-weight: 300;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 1rem;
}

#menu {
    margin-left: auto;
}

.navbar .navbar-toggler{
    margin: 0;
    padding: 0; 
}

.navbar .idioma a{
        margin-top: 0.1rem;
        color: #e0fbfc;
        text-decoration: none;
    }

.navbar .logo-mobile{
        display: none;
    }

#ilustracion-presentacion {
    z-index: 2;
    position: absolute;
    top: 25rem;
    left: 35rem;
}

#contenedor-1 {
    margin-bottom: 11.4rem;
}

h1 {
    z-index: 1;
    color: #e0fbfc;
    font-size: 8rem;
    font-weight: 800;
    line-height: 9rem;
    margin-top: 5rem;
}

#apostrofe {
    color: #ee6c4d;
}

#presentacion {
    padding-top: 18.6rem;
    padding-left: 4rem;
}

#presentacion p {
    color: #e0fbfc;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: auto;
}

h2 {
    color: #e0fbfc;
    font-size: 5rem;
    font-weight: 700;
    line-height: 9rem;
}

h2 span {
    text-decoration-line: underline;
    text-decoration-color: #ee6c4d;
}

article p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #e0fbfc;
    line-height: 2rem;
    padding-right: 1rem;
    margin: 0;
    margin-top: 2rem;
}

.toolset {
    padding-left: 4rem;
    padding-top: 7.5rem;
}

.toolset button {
    background-color: #3d5a80;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    margin: 0.7rem;
    border: none;
    border-radius: 0.4rem;
    pointer-events: none;
    box-shadow: 0rem 0rem 0.825rem rgba(0, 0, 0, 0.44);
}

.toolset .proximamente{
    padding-top: 0.3rem;
    
}

h3 {
    color: #e0fbfc;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
}

#contenedor-2 {
    margin-bottom: 5rem;
}

#contenedor-3 {
    margin-bottom: 8rem;
}

#ilustracion-1 {
    padding-top: 6rem;
    padding-left: 11rem;
}

#contenedor-4 {
    margin-bottom: 5rem;
}

#contenedor-4 .contactar a {
    border-radius: 0.7rem;
    padding: 0.688rem 2rem 0.688rem 2rem;
}

#ilustracion-2 {
    padding-top: 9rem;
    padding-left: 11.5rem;
}

.btn-portfolio {
    background-color: #ee6c4d;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    border-radius: 1rem;
    padding: 0.688rem 1.25rem 0.688rem 1.25rem;
}

footer .redes {
    padding-right: 2.5rem;
}

footer a img {
    margin-left: 0.5rem;
}

footer p {
    font-weight: 200;
    color: #e0fbfc;
    font-size: 1rem;
}

hr {
    margin: auto;
    width: 30%;
    background-color: #e0fbfc;
    border-width: 0.12rem;
}

.btn:hover {
    color: white;
    box-shadow: 0rem 0rem 0.425rem #ee6c4d;
}

.toolset .row .botones {
    margin-left: 0;
}

/* LOGO A LA IZQUIERDA */
@media (max-width:1199px) {

    #menu li a {

        color: #e0fbfc;
        font-weight: 300;
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        margin: 0.7rem 0 0 0;
    }

    #menu-redes li a {
        margin-top: 1rem;
        margin-left: 0rem;
    }

    picture {
        padding-left: 1rem;
        margin-right: auto;
    }

    h1 {
        z-index: 0;
        color: #e0fbfc;
        font-size: 5rem;
        font-weight: 800;
        line-height: 7rem;
    }

}

@media (max-width:360px) {
    .nav-item1 {
        margin: 0 0 0 0;
    }

    picture {
        width: 0;
    }

}

/*DISPOSITIVOS CHICOS*/
@media (max-width:576px) {

    .navbar {
        padding-left: 0;
        margin-left: 0;
        padding-top: 0;
        margin-bottom: 2rem;
    }
    
    .navbar .navbar-toggler img{
        margin-left: 0.2rem;
    }
    
    .navbar .idioma a{
        font-size: 1.1rem;
        margin-top: 0.2rem;
        margin-left: 1rem;
        color: #e0fbfc;
        text-decoration: none;
    }
    
    .navbar .logo-grande{
        display: none;
    }
    
    .navbar .logo-mobile{
        display: block;
    }
    
    .navbar .idioma img{
        width: 30px;
    }

    #ilustracion-presentacion {
        display: none;
    }

    #contenedor-1 {
        margin-bottom: 4rem;
    }

    h1 {
        z-index: 0;
        color: #e0fbfc;
        font-size: 5.3rem;
        font-weight: 800;
        line-height: 6rem;
        margin: 0 0 0 0;
    }

    #presentacion {
        padding: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #presentacion p {
        color: #e0fbfc;
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0;
        margin-left: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 3.4rem;
        margin: 0;
    }

    h3 {
        justify-content: center;
        text-align: center;
        font-size: 2.2rem;
        margin-top: 2rem;
    }

    .toolset {
        padding: 0;
    }
    
    .toolset .row{
        margin: 0;
    }

    .toolset button {
        justify-content: center;
        text-align: center;
        margin-left: 0;
        margin-right: 1.4rem;
    }
    
    .toolset .proximamente{
        width: 99px;
        height: 98px;
        padding-top: 0.2rem;  
    }

    article p {
        padding: 0;
        font-size: 1.1rem;
        margin-top: 0;
        line-height: 1.8rem
    }

    .toolset .row .botones {
        padding: 0;
        margin-left: 4.2rem;   
    }
    
    #why-me h2{
        font-size: 3.1rem;
        line-height: 4rem;
        margin-bottom: 2.5rem;
        margin-top: 2rem;
    }

    #contenedor-1 {
        margin-bottom: 4rem;
    }

    #contenedor-2 {
        margin-bottom: 3rem;
    }

    #contenedor-3 {
        margin-bottom: 3rem;
    }

    #contenedor-4 .contactar a {
        padding: 0.7rem 1.7rem 0.7rem 1.7rem;
        font-size: 1.2rem;
        border-radius: 1rem;
    }

    #contenedor-4 .contactar article p {
        margin-bottom: 1.5rem;
    }

    hr {
        margin: auto;
        margin-left: 2.9rem;
        width: 75%;
    }

    footer .redes {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    footer .container-fluid .row a img {
        margin 0;
        margin-left: 0.4rem;
        width: 40px;
    }

    footer p {
        text-align: center;
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 1rem;
    }
    
    footer .redes {
    padding-left: 2.5rem;
}

    #ilustracion-1 {
        display: none;
    }

    #ilustracion-2 {
        display: none;
    }
}

/*CENTRADO BOTONES TOOLSET Y FOOTER IPHONE 6/7/8 */
@media (min-width:361px) and (max-width:375px) {

    .toolset .row .botones {
        margin-left: 4.5rem;
    }
    
    hr {
        margin: auto;
        margin-left: 3rem;
        width: 75%;
    }
    
    .navbar .navbar-toggler img{
        margin-left: 0.2rem;
    }
    
    .navbar .logo-grande{
        display: none;  
    }
    
}

/*CENTRADO BOTONES TOOLSET IPHONE 6/7/8 PLUS */
@media (min-width:376px) and (max-width:414px){
    
    .toolset .row .botones {
     padding: 0;
     margin-left: 5.8rem;   
    }
}

/*DISPOSITIVOS MEDIUM*/
@media (min-width:768px) and (max-width:990px) {

    .navbar {
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 3rem;
    }
    
    .navbar #menu li a{
        font-size: 1.4rem;
    } 
    
    .navbar #menu-redes li a img{
        width: 50px;
        margin-right: 0.4rem;
        margin-top: 0.4rem;
    }

    .navbar .logo-grande img {
        width: 250px;
        margin-left: 0.5rem;
    }
    
    .navbar .logo-mobile{
        display: none;
    }
    
    .navbar .navbar-toggler img{
        width: 60px;
    }
    
    .navbar picture img{
        margin-left: 1.4rem;  
    }
    
    .navbar .idioma a{
        font-size: 1.4rem;
        margin-top: 0.2rem;
        margin-left: 1.5rem;
        color: #e0fbfc;
        text-decoration: none;
    }
    
    .navbar .idioma img{
        width: 35px;
    }

    #ilustracion-presentacion {
        display: none;
    }

    h1 {
        z-index: 0;
        color: #e0fbfc;
        font-size: 10rem;
        font-weight: 800;
        line-height: 11rem;
        margin: 0;
    }

    #presentacion {
        padding: 1rem 4rem 0 1.2rem;

    }

    #presentacion p {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        font-size: 2rem;

    }

    article p {
        font-size: 1.6rem;
        line-height: 2.5rem;

    }

    h3 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 5rem;

    }

    .toolset {
        padding: 0;
    }

    .toolset .row .botones {
        justify-content: center;
        text-align: center;
        margin-left: 8.4rem;
    }

    .toolset button {
        justify-content: center;
        text-align: center;
        background-color: #3d5a80;
        padding: 1.6rem 1.6rem 1.6rem 1.6rem;
        margin: 1.1rem;
        border: none;
        pointer-events: none;
        box-shadow: 0rem 0rem 0.825rem rgba(0, 0, 0, 0.44);
    }

    .toolset button img {
        width: 4rem;
    }

    .toolset .btn-pr,
    .toolset .btn-css {
        margin-left: 0;
        border-radius: 0.25rem
    }
    
    .toolset .proximamente{
        width: 115px;
        height: 115px;
        padding-top: 0.4rem;  
    }

    .btn-portfolio {
        margin-top: 2rem;
        padding: 1.5rem 2rem 1.5rem 2rem;
        font-size: 1.6rem;
        border-radius: 1.5rem;
    }

    #contenedor-1 {
        margin-bottom: 6rem;
    }

    #contenedor-2 {
        margin-bottom: 6rem;
    }

    #contenedor-3 {
        margin-bottom: 7rem;
    }

    #contenedor-4 .contactar a {
        border-radius: 1.5rem;
        padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    }

    hr {
        margin: auto;
        width: 70%;
    }

    footer .redes {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    footer .container-fluid .row a img {
        margin 0;
        margin-left: 1.3rem;
        width: 60px;
    }

    footer p {
        font-size: 1.3rem;
    }

    #ilustracion-1 {
        display: none;
    }

    #ilustracion-2 {
        display: none;
    }

}

/*DISPOSITIVOS LARGE*/
@media (min-width:992px) and (max-width:1199px) {

    .navbar {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
    
    .navbar #menu li a{
        font-size: 2rem;
    } 
    
    .navbar #menu-redes li a img{
        width: 70px;
        margin-right: 1.3rem;
        margin-top: 1rem;
    } 
    
    .navbar .navbar-toggler img{
        width: 80px;
    }

    .navbar .logo-grande img {
        width: 350px;
        margin-left: 1rem;
    }
    
    .navbar .logo-mobile{
        display: none;
    }
    
    .navbar .idioma a{
        font-size: 2.1rem;
        margin-top: 0.1rem;
        margin-left: 2rem;
        color: #e0fbfc;
        text-decoration: none;
    }
    
    .navbar .idioma img{
        width: 50px;
    }

    #ilustracion-presentacion {
        display: none;
    }

    h1 {
        z-index: 0;
        color: #e0fbfc;
        font-size: 13rem;
        font-weight: 800;
        line-height: 14rem;
        margin: 0;
        padding: 0;
    }

    #presentacion {
        padding: 3.5rem 1rem 0 1.8rem;
    }

    #presentacion p {
        font-weight: 500;
        font-size: 3rem;
    }

    h2 {
        font-size: 7rem;
    }

    article p {
        font-size: 2rem;
        line-height: 3.2rem;
    }

    h3 {
        font-size: 4.5rem;
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 5rem;
    }

    .toolset {
        padding: 0;
    }

    .toolset button {
        justify-content: center;
        text-align: center;
        background-color: #3d5a80;
        padding: 2rem 2rem 2rem 2rem;
        margin: 1rem;
        border: none;
        pointer-events: none;
        box-shadow: 0rem 0rem 0.825rem rgba(0, 0, 0, 0.44);
    }

    .toolset button img {
        width: 6rem;
    }
    
    .toolset .proximamente{
        width: 160px;
        height: 160px;
        padding-top: 0.4rem;  
    }

    .toolset .row .botones {
        margin-left: 6.6rem;
    }

    #contenedor-2 {
        margin-bottom: 8rem;
    }

    #contenedor-3 {
        margin-bottom: 7rem;
    }

    #contenedor-4 .contactar a {
        border-radius: 1.5rem;
        padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    }

    .btn-portfolio {
        margin-top: 3rem;
        padding: 1.5rem 2rem 1.5rem 2rem;
        font-size: 2.3rem;
        border-radius: 1.5rem;
    }

    hr {
        margin: auto;
        width: 50%;
    }

    footer .redes {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    footer .container-fluid .row a img {
        margin 0;
        margin-left: 1.3rem;
        width: 70px;
    }

    footer p {
        font-size: 1.6rem;
    }

    #ilustracion-1 {
        display: none;
    }

    #ilustracion-2 {
        display: none;
    }
}

/*ILUSTRACION DE HOME EN DISTINTAS PANTALLAS*/
@media (min-width:1280px){
#ilustracion-presentacion {
    z-index: 2;
    position: absolute;
    top: 25rem;
    left: 32.7rem;
}
}

@media (min-width:1366px){
#ilustracion-presentacion {
    z-index: 2;
    position: absolute;
    top: 25rem;
    left: 34.9rem;
}
}

@media (min-width:1440px){
#ilustracion-presentacion {
    z-index: 2;
    position: absolute;
    top: 25rem;
    left: 37.7rem;
}
}

@media (min-width:1680px){
#ilustracion-presentacion {
    z-index: 2;
    position: absolute;
    top: 25rem;
    left: 45.2rem;
}
}

@media (min-width:1920px){
#ilustracion-presentacion {
    z-index: 2;
    position: absolute;
    top: 25rem;
    left: 52.2rem;
    } 
}

/* Para pantallas mas grandes 
@media (min-width:1400px) {

    #presentacion {

        padding-left: 4rem;

    }

}*/

/*.btn:focus {
    color: white;
    box-shadow: 0rem 0rem 0.425rem #ee6c4d;

}*/
